@import './reset';
@import url("https://use.typekit.net/wlt1xdt.css");

// https://coolors.co/d5edf5-bde4f1-9ecad9-f49e4c-d0e562-fdf0ed-0b5351-092327

body {
    font-family: ubuntu, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.4;
    color: #092327;
}

a {
    color: #092327;
    text-decoration: none;
    transition: all ease-in-out 0.1s;

    &:hover {
        color: #F49E4C;
    }

}

h1, h2, h3, h4, h5, h6 {
    font-family: freude, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-transform: uppercase;
    color: #F49E4C;
    margin-bottom: 20px;
}

p {
    margin-bottom: 40px;
}

button {
    font-family: ubuntu, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.4;
    color: #092327;
    background-color: #D0E562;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    text-transform: uppercase;
}

header {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    padding: 15px 20px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    
    &>* { display: inline-block; }

    .logo { height: 70px; }

    .menu {
        
        li {
            display: inline-block;
            padding: 0 10px;

            &.cart {
                position: relative;

                img {
                    height: 20px;
                }

                .cart-number {
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    background-color: #D0E562;
                    width: 20px;
                    height: 20px;
                    font-size: 14px;
                    text-align: center;
                    border-radius: 50%;
                }

            }

        }

    }

}

.home {

    .hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1200px;
        margin: auto;
        grid-column-gap: 100px;
        align-items: center;
        margin-bottom: 100px;
    
        img {
            width: 100%;
            border-radius: 25px;
        }
    
    }

    .about {
        background-color: #D5EDF5;
        padding: 100px;

        &>div {
            background-color: #FFFFFF;
            padding: 50px;
            border-radius: 25px;
            max-width: 600px;
            margin: 0 auto;
            box-shadow: 5px 5px 14px 3px rgba(158, 202, 217, 0.5);
        }

    }

}

